<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string>&lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
&lt;string&gt;Uçuş rotanızı belirlemek için konum bilgisine ihtiyaç duyuyoruz&lt;/string&gt;

&lt;key&gt;NSCameraUsageDescription&lt;/key&gt;
&lt;string&gt;AR deneyimi için kameraya erişim gerekiyor&lt;/string&gt;

&lt;key&gt;UIRequiresFullScreen&lt;/key&gt;
&lt;true/&gt;</string>
	<key>New item - 2</key>
	<string>&lt;key&gt;NSLocationWhenInUseUsageDescription&lt;/key&gt;
&lt;string&gt;Uçuş rotanızı belirlemek için konum bilgisine ihtiyaç duyuyoruz&lt;/string&gt;

&lt;key&gt;NSCameraUsageDescription&lt;/key&gt;
&lt;string&gt;AR deneyimi için kameraya erişim gerekiyor&lt;/string&gt;

&lt;key&gt;UIRequiresFullScreen&lt;/key&gt;
&lt;true/&gt;</string>
	<key>New item - 3</key>
	<string></string>
</dict>
</plist>
